[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flake8 = "*"
flake8-docstrings = "*"
wheel = "*"
doit = "*"
build = "*"
sphinx = "*"
setuptools = "*"

[dev-packages]
babel = "*"

[requires]
python_version = "3.11"
